<div class="contentconteiner">
<div class="countup">
{{ nowdsec * 100 | date:'mm:ss' }}
</div>
<div class="centerbuttons">
<button mat-fab color="primary" (click)="startTimer()" *ngIf="isStopped()" class="mainbutton"> Start </button>
<button mat-fab color="warn" (click)="stopTimer()" *ngIf="!isStopped()" class="mainbutton"> Pause </button>
<button mat-fab color="accent" (click)="reset()" class="mainbutton"> Reset </button>
</div>
</div>
<footer class="credit">
sound by OtoLogic(CC BY 4.0)
</footer>

