.contentconteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh
}

.countup {
    font-size: 5em;
}

.centerbuttons {
    display: flex;
    margin: 100px;
    column-gap: 2vh;

 }

 .credit {
    align-content: center;
    justify-content: center;
    font-size: small;
    position: absolute;/* ←絶対位置 */
    bottom: 0;
 }
 
.mainbutton {
    width: 120px!important;
    height: 120px!important;
    min-width: unset!important;
    font-size: 2em;
}